@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
  font-family: font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.poster {
  height: 500px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

/*"The Classy Roommate"*/

#Audrey {
  margin: 0 auto;
  border: 20px solid red;
  display: block;
}

/*"The Neurotic New Yorker"*/

#Woody, #YorkPeppermintPatty {
  border: 20px solid red;
}

  #Woody {
    padding: 55px 35px;
    margin-left: 100px;
    
  }


/*"The Change the World Roommate"*/

#Obama {
  float:left;
  border: 20px solid red;
}

#Rosie {
  float:right;
  border: 25px solid blue;
  border-radius: 50%;
}

/*"The Art History Major"*/

#Art {
  border:solid 20px red;
}

#Picasso {
  height: 300px;
}

#Warhol {
  height: 300px;
  margin-left: 95px;
}

/*"New Theme"*/

